<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-globe"></i> ${webAppDto.webName}
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
            <p class="lead">网站信息详情</p>

            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr>
                        <th style="width:35%">网站名称:</th>
                        <td>$!{webAppDto.webName}</td>
                    </tr>
                    <tr>
                        <th>网站标题:</th>
                        <td>$!{webAppDto.webTitle}</td>
                    </tr>
                    <tr>
                        <th>用户文章显示数量:</th>
                        <td>$!{webAppDto.userPageArticleSize}</td>
                    </tr>
                    <tr>
                        <th>管理员文章显示数量:</th>
                        <td>$!{webAppDto.adminPageArticleSize}</td>
                    </tr>
                    <tr>
                        <th>网站文章浏览总量:</th>
                        <td>$!{webAppDto.articleViews}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header with-border">
                    <h2 class="box-title">网站信息编辑</h2>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="/manage/web" method="post">
                    <div class="box-body">
                        <div class="form-group">
                            <label for="name" class="col-sm-3 control-label">网站名称</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="name" name="webName" placeholder="网站名称(可空)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="title" class="col-sm-3 control-label">网站标题</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="title" name="webTitle"
                                       placeholder="网站标题(可空)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="userPageSize" class="col-sm-3 control-label">页面显示</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="userPageSize" name="userPageArticleSize"
                                       placeholder="首页文章显示数(可空)">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="adminPageSize" class="col-sm-3 control-label">页面显示</label>

                            <div class="col-sm-7">
                                <input type="text" class="form-control" id="adminPageSize" name="adminPageArticleSize" placeholder="管理文章显示数(可空)">
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-default pull-right">提交更新</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
        <div class="col-xs-12">
        </div>
    </div>
</section>