<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis 核心配置文件，任何地方都可以获取-->
<configuration>

    <properties resource="jdbc.properties">

    </properties>

    <settings>
        <setting name="aggressiveLazyLoading" value="true"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <typeAliases>
        <package name="com.hosuke.entity"></package>
    </typeAliases>

    <!--环境集合-->
    <environments default="development">
        <environment id="development">
            <!--事务管理器-->
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${db.driver}"/>
                <property name="url" value="${db.url}"/>
                <property name="username" value="${db.user}"/>
                <property name="password" value="${db.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--映射器-->
    <mappers>
        <package name="com.hosuke.mapper"/>
    </mappers>
</configuration>