<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--mybatis 核心配置文件，任何地方都可以获取-->
<configuration>
    <mappers>
        <mapper resource="com/hosuke/mapper/UserMapper.xml"/>
        <mapper resource="com/hosuke/mapper/CategoryMapper.xml"/>
        <mapper resource="com/hosuke/mapper/ArticleMapper.xml"/>
        <mapper resource="com/hosuke/mapper/AboutMapper.xml"/>
        <mapper resource="com/hosuke/mapper/WebAppMapper.xml"/>
    </mappers>
</configuration>