<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hosuke.mapper.CommentRatingMapper">

    <resultMap id="CommentRatingMap" type="commentRating">
        <id column="id" property="id"/>
        <result column="value" property="value"/>
        <association property="post" column="comment_id" select="com.hosuke.mapper.CommentMapper.selectById"/>
        <association property="user" column="user_id" select="com.hosuke.mapper.UserMapper.selectUid"/>
    </resultMap>

    <select id="findUserRating" resultMap="CommentRatingMap" parameterType="commentRating">
        SELECT * FROM comment_ratings WHERE comment_id = #{commentRating.comment.id} AND user_id = #{commentRating.user.id}
    </select>

</mapper>