<section class="content-header">
    #if($error)
        <div class="callout callout-warning">
            <h4>添加用户失败</h4>
            <p>${error}</p>
        </div>
    #end

    #if($info)
        <div class="callout callout-info">
            <h4>操作信息</h4>
            <p>${info}</p>
        </div>
    #end
</section>
<style>
    .tableCenter th, .tableCenter td {
        text-align: center;
        height: 38px;
    }
</style>

<script language="javascript">
    function delcfm() {
        if (!confirm("确认要删除？")) {
            window.event.returnValue = false;
        }
    }
</script>

#if($editoruser)
<script language="javascript">
    onload = function () {
        document.getElementById("userid").innerText = '${editoruser.id}';
        document.getElementById("myusername").value = '${editoruser.username}';
        document.getElementById("userpassword").value = '${editoruser.password}';
        document.getElementById("usernickname").value = '${editoruser.nickname}';
        document.getElementById("useremail").value = '${editoruser.email}';
        document.getElementById("userfrom").action = "/manage/user/update";
        document.getElementById("mybutton").innerHTML = "更新用户";
    }
</script>
#end


<section class="content">
    <form id="userfrom" action="/manage/user/create" method="post">
        <div class="row">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h6>创建用户:</h6>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body" style="display:block;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="myusername">用户名称:</label>
                                <input type="text" name="username" class="form-control" id="myusername"
                                       placeholder="请输入用户名称..."/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="userpassword">用户密码:</label>
                                <input type="password" name="password" class="form-control" id="userpassword"
                                       placeholder="请输入用户密码..."/>
                                <textarea style="display: none" id="userid" name="id"></textarea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="usernickname">用户昵称:</label>
                                <input type="text" name="nickname" class="form-control" id="usernickname"
                                       placeholder="请输入用户昵称..."/>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="useremail">用户邮箱:</label>
                                <input type="text" name="email" class="form-control" id="useremail"
                                       placeholder="请输入用户邮箱..."/>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="mybutton"></label>
                            <button type="submit" id="mybutton" class="btn btn-block btn-default btn-flat"
                                    >创建用户
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">用户信息</h3>
                </div>

                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover tableCenter">
                        <tbody>
                        <tr>
                            <th>ID</th>
                            <th>用户名称</th>
                            <th>用户密码</th>
                            <th>用户昵称</th>
                            <th>用户邮箱</th>
                            <th>编辑</th>
                            <th>删除</th>
                        </tr>
                        #foreach($user in $users)
                        <tr>
                            <td width="10%">${user.id}</td>
                            <td>${user.username}</td>
                            <td>${user.password}</td>
                            <td>${user.nickname}</td>
                            <td>${user.email}</td>
                            <td width="10%">
                                <button class="btn btn-block btn-info"><a
                                        href="/manage/user/update/${user.id}">编辑</a></button>
                            </td>
                            <td width="10%">
                                <button class="btn btn-block btn-danger" onclick="delcfm()"><a
                                        href="/manage/user/delete/${user.id}">删除</a></button>
                            </td>
                        </tr>
                        #end

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>