
<div style="margin-top: 20px;">
	<center>
		Contact me：<a href="mailto:517754526@qq.com">517754526@qq.com</a>
	</center>
	<center>
		© 2016 <a href="http://www.hosuke.com" target="_blank">hosuke.com</a> Powered by Lessblog &nbsp;&nbsp;
	</center>
    <center>
        <a class="fa fa-weibo footer-link" href="http://weibo.com/u/hosuke"></a>&nbsp;&nbsp;
    </center>
</div>
